.my-navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  a.navbar-brand:hover {
    color: #aaa;
  }

  .nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }

  .nav-link .fa-rss {
    color: #f26522;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .nav-link:hover .fa-rss {
    color: #ff8c5a;
  }
}